<p>
<table>
    <thead>
    <tr>
        <th>Scene</th>
        <th>Avg</th>
        <th>Min</th>
        <th>Max</th>
        <th>StdDev</th>
        <th>P50</th>
        <th>P75</th>
        <th>P90</th>
        <th>P99</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var scene in Results.Scenes)
    {
        var row = Accessor(scene.Value);

        <tr>
            <td>@scene.Key</td>
            <td>@row.Average</td>
            <td>@row.Min</td>
            <td>@row.Max</td>
            <td>@row.StdDev</td>
            <td>@row.P50</td>
            <td>@row.P75</td>
            <td>@row.P90</td>
            <td>@row.P99</td>
        </tr>
    }
    </tbody>
</table>
</p>

@code
{
    [Parameter] public Results Results { get; set; }

    [Parameter] public Func<SceneResult, SampleStatistics> Accessor { get; set; }
}